@model Category
@{
    ViewData["Title"] = "Add";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h5>Add Category</h5>
        </div>
        <form asp-action="Add" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" name="submit" value="Add" class="btn btn-success btn-block" />
                    </div>
                    <div class="col-md-6">
                        <a asp-action="Index" class="btn btn-block btn-danger">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

